body{
	margin: 0;
	padding: 0;
}

#road {
	width: 250px;
}

#buy{
	margin-left: 70px;
	width: 40px;
}

#example_1{
	background-image: url(../img/road.jpg);
	height: 100vh;
	background-size: cover;
}

#example_2{
	background-image: url(../img/pattern.jpg);
	height: 100vh;
}