.main-logo-border{
	border: 3px solid #706b73;
	height: 55px;
	width: 155px;
	text-align: center;
	line-height: 49px;
}
.main-head{
	margin-top: 3%;
}

.main-logo p{
	font-family: 'Open Sans', sans-serif;
	font-size: 38px;
	font-weight: 600;
	color: #706b73;
}
.color-logo{
	color: #fa9a87;
}
.line {
  display: block;
  margin: 17px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 34px;
  height: 4px;
  background-color: #706b73;
  --webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; 
}
.line::before {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 34px;
  height: 4px;
  background-color: #706b73;
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.line::after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 34px;
  height: 4px;
  background-color: #706b73;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}